.section {
  background-color: white;
  min-width: 393px;
  padding: 16px;
  min-height: 100vb;
  font-size: 15px;
  border-right: 1px #0c0d0e0f solid;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-block-end: 8px;
}

.title {
  font-size: 24px;
}

.add_button {
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 100%;
  corner-shape: squircle;
  font-size: 20px;
}

.add_button:hover {
  background-color: #479fff;
}

.add_button:active {
  background-color: #006ee5;
}

.input {
  width: 100%;
  border: none;
  padding: 6px 12px;

  background-color: #0909090d;
  color: black;
  border-radius: 12px;
  margin-block-end: 8px;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  gap: 16px;
  padding: 9px;
  border-radius: 12px;
}

.item:hover {
  background-color: #f6f6f6;
}

.item_active {
  background-color: #007aff14;
}

.avatar {
  width: 64px;
  height: 64px;
  background-color: #007aff;
  border-radius: 100%;
  flex-shrink: 0;
}
.content {
  width: 100%;
}

.item_title {
  display: flex;

  justify-content: space-between;
}

.time {
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 4px;
  color: #06070885;
}

.status {
  color: #007aff;
}

.item_heading {
  font-size: inherit;
}

.item_description {
  color: #06070885;
}
